[Desktop Entry]
Categories=Development;IDE;
Comment[en_IN]=The official Android IDE
Comment=The official Android IDE
Exec=android-studio %f
GenericName[en_IN]=
GenericName=
Icon=/home/dan/Downloads/1024px-Android_Studio_icon.svg.png
MimeType=
Name[en_IN]=Android Studio
Name=Android Studio
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=jetbrains-studio
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
