[Desktop Entry]
Categories=Development;IDE;
Comment[en_IN]=The official Android IDE
Comment=The official Android IDE
Exec=android-studio %f
GenericName[en_IN]=
GenericName=
Icon=/usr/share/pixmaps/android-studio.png
MimeType=
Name[en_IN]=Android Studio
Name=Android Studio
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=jetbrains-studio
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
